.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding-top: 200px; /* Задайте отступ только сверху для всей группы */
}


.oreo {
  cursor: pointer;
}



.level0 {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 250px;
}


.level1 {
  display: inline-flex; 
  align-items: center;
  border-radius: 5px;
  padding: 0 250px;
}

.level2 {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 250px;
}


.link {
  text-decoration: none;
  color: inherit;
}

.icon {
  margin-left: 8px;
  vertical-align: middle;
}


.level0:hover{
  color: rgb(98, 98, 98);
}

.level1:hover{
  color: rgb(98, 98, 98);
}

.level2:hover{
  color: rgb(98, 98, 98);
}